/* 
 * This file is used to display / hide store funtionality by css.
 *
 * This file should ONLY be used for this purpose.
 */
 
/* *****************************
  Date: Jun 9, 2017
*/
/* Hide mini cart icon in the headr*/
.minicart-wrapper {
	display:none !important;
}

/* Hide add to cart button in product grid/list view */
.product-item-actions .actions-primary {
	display:none !important;
}

/* Hide add to cart box in PDP */
.box-tocart {
	display:none !important;
}

	display:none
}